html {
  scroll-behavior: smooth;
}

.grid-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  border: 1px solid #000;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
  width: 40vh;
  height: 20vh;
}

.portfolio_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.portfolio_img {
  height: 4vh;
  width: auto;
}

img {
  width: 100%;
  height: -webkit-fill-available;
}

@media (max-width:768px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width:500px) {
  .grid-container {
    grid-template-columns: auto;
  }

  footer {
    position: sticky;
  }
}
